@import "./variables.scss";
@import "reset-css/reset.css";

body {
  background: $Dark-100;
  color: $Dark-0;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

#app {
  max-width: 100vw;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  overflow: hidden;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 100px;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.yellow-text {
  background: linear-gradient(45deg, #DA8F00 0%, #DFBB00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}