// Colors
$Marigold-100: linear-gradient(45deg, #F9A400 0%, #F9D100 100%);
$Marigold-90: linear-gradient(45deg, #DA8F00 0%, #DFBB00 100%);
$Dark-0: #F6F6F6;
$Dark-10: #ECECEC;
$Dark-60: #D3D3D3;
$Dark-70: #939393;
$Dark-80: #464646;
$Dark-90: #282828;
$Dark-100: #111111;

